
@{
    ViewBag.Title = "PageError";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<main>
    <div class="container-fluid">
        <h1 class="mt-4"></h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active"></li>
        </ol>
        <div class="card mb-4">
            
            <div class="card-body">

                <div class="error-page">
                    <h2 class="headline text-warning"> 404</h2>
                    <div class="error-content">
                        <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Sayfa Bulunamadı.</h3>
                        <p>
                            Aradığınız sayfayı malesef bulamadık.
                           
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>

