@using MvcOnlineTicariOtomasyonSistemi.Models.Siniflar
@model List<Mesajlar>

@foreach (var m in Model)
{
    <div class="post">
        <div class="user-block">
            <img class="img-circle img-bordered-sm" src="~/Web2/dist/img/kisi.jpg" alt="user image">
            <span class="username">
                @m.Kimden
            </span>
            <span class="description">Gönderi Paylaşım Tarihi - @m.Tarih.ToShortDateString()</span>
            <span class="description">Konu : @m.Konu</span>
        </div>
        <p>
            @m.Icerik
        </p>
    </div>

}
